version: 2.1
commands:
  print_pipeline_id:
    description: " A command for demo"
    steps:
      - run: echo $CIRCLE_WORKFLOW_ID
jobs:
  print_hello:
    docker:
      - image: circleci/node:13.8.0
    steps:
      - print_pipeline_id
      - run: echo hello
  print_world:
    docker:
      - image: circleci/node:13.8.0
    steps:
      - run: echo world
  print_env:
    docker:
      - image: ubuntu:latest
    steps:
      - checkout
      - run:
          name: 'print environment variable'
          command: |
            echo $ENV_VAR
  save_hello_world_output:
    docker: 
      - image: ubuntu:latest
    steps:
      - run:
          name: 'save hello world output'
          command: |
            echo "text to output here" > ~/output.txt
      - persist_to_workspace:
          root: ~/
          paths: 
            - output.txt
  print_output_file:
    docker: 
      - image: ubuntu:latest
    steps:
      - attach_workspace:
          at: ~/
      - run:
          name: 'print saved hello world output'
          command: |
            cat ~/output.txt

workflows:
  welcome:
    jobs:
      - print_hello
      - print_world:
          requires:
            - print_hello
      - print_env:
          requires: [print_world]
      - save_hello_world_output:
          requires:
            - print_env
      - print_output_file:
          requires:
            - save_hello_world_output