version: 2.1
jobs:
  print_hello:
    docker:
      - image: circleci/node:13.8.0
    steps:
      - run: echo hello
  print_world:
    docker:
      - image: circleci/node:13.8.0
    steps:
      - run: echo world
  print_env:
    docker:
      - image: ubuntu:latest
    steps:
      - checkout
      - run:
          name: 'print environment environment'
          command: |
            echo $ENV_VAR
workflows:
  welcome:
    jobs:
      - print_hello
      - print_world:
          requires:
            - print_hello
      - print_env:
          requires: [print_world]